@import 'tailwindcss';

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/EBGaramond-Regular.woff2') format('woff2');
}

@theme {
  --font-garamond: 'EB Garamond', 'serif';

  --tracking-xwide: 2px;

  --color-pampas: #f7f6f2;
  --color-spring-wood: #f6f1ed;
  --color-pearl-bush: #eae2d6;
  --color-boulder: #757575;
  --color-shark: #212529;
}

@layer base {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  h2 {
    font-size: 33px;
    line-height: 43px;
  }
  h3 {
    font-size: 28px;
    line-height: 38px;
  }
  h4 {
    font-size: 23px;
    line-height: 33px;
  }
  h5 {
    font-size: 18px;
    line-height: 28px;
  }
  h6 {
    font-size: 13px;
    line-height: 23px;
  }
  @media (max-width: 1023px) {
    h1 {
      font-size: 35px;
      line-height: 45px;
    }
    h2 {
      font-size: 30px;
      line-height: 40px;
    }
    h3 {
      font-size: 25px;
      line-height: 35px;
    }
    h4 {
      font-size: 20px;
      line-height: 30px;
    }
    h5 {
      font-size: 15px;
      line-height: 25px;
    }
    h6 {
      font-size: 10px;
      line-height: 20px;
    }
  }
  p {
    font-size: 18px;
    color: var(--color-boulder);
    line-height: 33px;
  }
  .post-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 25px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@layer utilities {
  @media (width >= 64rem) {
    /* Level 1 submenu trigger */
    .group\/sub-1:hover > ul,
    .group\/sub-1:focus-within > ul {
      visibility: visible;
      opacity: 100;
      margin-top: 0;
    }

    /* Level 2 submenu trigger */
    .group\/sub-2:hover > ul,
    .group\/sub-2:focus-within > ul {
      visibility: visible;
      opacity: 100;
      margin-top: 0;
    }

    /* Level 3 submenu trigger (optional) */
    .group\/sub-3:hover > ul,
    .group\/sub-3:focus-within > ul {
      visibility: visible;
      opacity: 100;
      margin-top: 0;
    }

    /* Level 3 submenu trigger (optional) */
    .group\/sub-4:hover > ul,
    .group\/sub-4:focus-within > ul {
      visibility: visible;
      opacity: 100;
      margin-top: 0;
    }
  }
  @media (width <= 64rem) {
    .header-main nav ul li ul:not(.block) {
      display: none;
    }
  }
  .number-no-appearance::-webkit-outer-spin-button,
  .number-no-appearance::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  #filter-price-slider input[type='range'],
  #filter-price-slider input[type='range']::-webkit-slider-runnable-track,
  #filter-price-slider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }
  #filter-price-slider input[type='range']::-webkit-slider-runnable-track {
    height: 4px;
    background: #eae2d6;
  }

  #filter-price-slider input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
  }

  #filter-price-slider input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -6px;
    background: #757575;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
  #filter-price-slider input[type='range']::-webkit-slider-thumb:hover {
    background: #212529;
  }
}

body {
  @apply bg-pampas;
  @apply font-garamond;
  overflow-x: hidden;
}
